body {
    margin: 0;
    font-family: 'Open Sans', sans-serif !important;
}

.none {
	display: none;
}

.title {
	margin: 75px 0 30px;
}

h1 > small {
    font-size: 15px;
}

h1, .h1 {
    font-size: 42px;
}

.strong {
	font-weight: bold;
}

.bg {
    background: rgba(0, 0, 0, 0) url("http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-244348.jpg") no-repeat fixed center center / cover ;
/*    filter: blur(50px); */
    height: 100%;
    position: fixed;
    width: 100%;
}

.input-group.range.col-sm-4 {
    padding: 0 15px;
}

.submit {
    padding: 0;
}

.alert {
	z-index:9;
	border-radius: 0;
	position: absolute;
}

.copy {
    cursor: auto !important;
}

.github {
    background-image: url("/seenlink/images/cloud.png");
    background-repeat: no-repeat;
    height: 50px;
    position: fixed;
    right: 0;
    width: 95px;
}

.github > a > img {
    bottom: 8px;
    position: fixed;
    right: 12px;
}

.footer {
    bottom: 0;
    height: 50px;
    position: fixed;
    text-align: right;
    width: 100%;
}

.code {
    bottom: 6px;
    color: #fff;
    margin: 0;
    position: fixed;
    right: 100px;
    cursor: default;
}

.code > a {
	color: #fff;
}

.tip, .tip:hover {
    cursor: pointer;
	color: #f00;
    text-decoration: none;
}


/*
	Stylish Sliders/Range Selectors
*/

.range {
    display: table;
    position: relative;
    height: 25px;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.range {
    width: 100%;
}

#range {
    border: 1px solid #cccccc;
    border-radius: 0;
    height: 42px;
}

.range input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 100%;
    background-color: #fff;
    height: 30px;
    cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range input[type="range"]::-moz-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    
    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range output {
    display: table-cell;
    padding: 3px 5px 2px;
    min-width: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(153, 153, 153);
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.range input[type="range"] {
    outline: none;
}

/*
	Stylish Sliders/Range Selectors
*/